@import 'colors';

.team_title {
  text-align: center;
  font-size: 2em;
}

.informations_team {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.star {
  color: $warn;
}
